#imagenes{
    width: 50%;
    margin: auto;
    margin-top: 40px;
    animation: right-left 1.5s linear;
    animation-iteration-count: infinite;
}

#img{
    width: 100%;
}

@keyframes right-left {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(20%);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(-20%);
    }

    100% {
        transform: translateX(0);
    }
}